@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

nav{
    background-color: black;
    color: white;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    width: 40%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photos-container{
    min-height: 100vh;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: white;
}

.photo-box{
    height: 350px;
    width: 320px;
    margin: 25px;
    border: 5px solid white;
}

.photo-box img{
    height: 100%;
    width: 100%;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 50px;
}

.big-photo-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.big-photo{
    width: 70%;
    padding: 10px;
}

.big-photo img{
    height: 100%;
    width: 100%;
}

.download-section{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-section button{
    padding: 10px 50px;
    background-color: black;
    color: aliceblue;
    border: none;
}


@media(max-width : 768px){

    .photos-container{
        flex-direction: column;
        justify-content: center;
    }

    nav h1{
        display: none;
    }

    nav{
        padding: 15px 20px;
    }

    nav ul{
        width: 100%;
    }


}